<h1>
<%= gravatar_for current_user, :size => 30 %>
<%= link_to current_user.first_name, current_user %>
,these are jobs you've posted.
</h1><br>

<%#= will_paginate %> <%#pagination doesn't work on arrays(@jobs) so its commented out%>

<ul class="jobs">
	<%= render @jobs %>
</ul>

<%#= will_paginate %>
