<h1>Post a job</h1>

<%= form_for(@job) do |f| %>
	<%= render 'job_fields', :f => f %><br><br><br><br>
	<fieldset>
	<div class="actions">
		<%= f.submit "Post Job", :id=>"post_job" %>
	</div>
	</fieldset>
<% end %>
