.container {
		width: 710px;
	}
body {
		background: #cff;
	}
header {
		padding-top: 20px;
	}
header img {
		padding: 1em;
		background: #cff;
		width: 150px;
		height: 100px;
	}

section {
		margin-top: 1em;
		font-size: 120%;
		padding: 20px;
		background: #fff;
	}
section h1 {
		font-size: 200%;
	}
/* Links */
a {
		color: #09c;
		text-decoration: none;
	}
a:hover {
		color: #069;
		text-decoration: underline;
	}
a:visited {
		color: #069;
	}
	
	/* Navigation */
nav {
	float: right;
	}
nav {
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
	}
nav ul {
	margin: 0;
	padding: 0;
	}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
	}
nav ul li a {
	padding: 0 5px;
	font-weight: bold;
	}
nav ul li a:visited {
	color: #09c;
	}
nav ul li a:hover {
	text-decoration: underline;
	}

	/* Sign up button */

	a.new_user_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #09c;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
	}

	/* Round corners */
.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


/*start: all placeholder styling*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #66A6CF;    
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #66A6CF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #66A6CF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #66A6CF;
}

/*end: placeholder styling*/

	/*signup and edit profile page*/
	
	/*fields*/
fieldset{
	border: 0;
}
fieldset {
	margin: 0 0 0 0;
	height:15px;
}
fieldset:last-child {
	margin: 0;
}

input[type="text"], input[type="password"], #jobseeker_summary {
	padding: 5px 8px;
	margin: 5px;
	font-size: 1.2em;
	color: #06f;
	border: 2px solid #ddd;
  box-shadow: none;
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

	/*size of fields specific to sig up and edit pages*/
#new_user fieldset input[type="text"], .edit_user fieldset input[type="text"]{width:213px;}
/*width for both signup and edit*/
#new_user fieldset input[type="password"],.edit_user fieldset input[type="password"]{width:460px;}
#new_user fieldset input[id="user_email"],.edit_user fieldset input[id="user_email"]{width:460px;}

	/*creates blue outline on focus*/
input[type="text"]:focus,input[type="text"]:hover, input[type="password"]:focus, input[type="password"]:hover, #jobseeker_summary:focus, #jobseeker_summary:hover{
	outline:none;
  border-color:#129FEA;
}
	/*end: fields*/

/*Roles div/section*/
	#label_roles{
	color: #06f;
	font-weight: 500;
		
	}
/*End: roles div/section*/


/*all submit buttons*/
input[type="submit"]{
	display:inline-block;
	*display:inline;
	zoom:1;
	line-height:normal;
	white-space:nowrap;
	vertical-align:baseline;
	text-align:center;
	cursor:pointer;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

input[type="submit"]::-moz-focus-inner{
	padding:0;
	border:0
}

input[type="submit"]{
	font-family:inherit;
	font-size:100%;
	*font-size:90%;
	*overflow:visible;
	padding:.5em 1em;
	color:#444;color:rgba(0,0,0,.8);
	*color:#444;border:1px solid #999;
	border:0 rgba(0,0,0,0);
	background-color:#E6E6E6;
	text-decoration:none;
	border-radius:2px
	
}

input[type="submit"]:hover,input[type="submit"]:focus{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
	background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
	background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}

input[type="submit"]:focus{
	outline:0
}

input[type="submit"]:active{
	box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset
}

input[type="submit"]::-moz-focus-inner{
	padding:0;border:0
}

input[type="submit"] {
/*		background-color: #1f8dd6;*/
    background-color: #1f8dd6;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);/*make the text appear as if its on top*/
    padding: 0.5em 2em;
    border-radius: 5px;
}

#signup_btn{
	font-size: 20px;
	background-color: #49BE16;
	width: 150px;
	font-weight: normal;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
/*end: signup and edit profile page*/


/*start: for signin form*/
#session_email, #session_password{
	width:215px;
}

/*end: signin styling*/

/*Edit profile page*/	
#update_profile_btn{
	background-color: #F79D17;
}


#new_jobseeker input[type="text"], .edit_jobseeker input[type="text"]{
	width:460px;
}

#new_jobseeker select option, .edit_jobseeker select option {
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

#new_jobseeker select, .edit_jobseeker select{
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	height: 34px;
	margin: 0px;/*removes space btn div and select tag after 'display:inline-block' rule*/
	font-size: 1.2em;
	color: #06f;
	border: 0px;
  box-shadow: none;
	background-color: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

}


.select_border{
	display:inline-block;
	border: 2px solid black;
	border-color: #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

}

.select_border:hover, .select_border:focus{
	border-color: #129FEA;
	}

#new_jobseeker select:focus, #new_jobseeker select:hover, .edit_jobseeker select:focus, .edit_jobseeker select:hover {
  border-color: #129FEA;
}

#jobseeker_summary{
		height: 90px;
		width: 460px;
		font: inherit;
		font-size: 1.2em;
		resize: none;
}


/*end: edit profile*/

	/*footer css*/
footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
	}
footer nav {
	float: none;
	}

	/* User show page */
table.profile {
	width: 100%;
	margin-bottom: 0;
	}
	
td.main {
	width: 70%;
	padding: 1em;
	}
	
td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
	}
	
.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
	}

	/*Sign up page*/
div.field, div.actions {
margin-bottom: 10px;
}
	/*Error messages*/
.field_with_errors {
	margin-top: 0px;
	padding: 0px;
	border:3px #DD3F3F;
/*	background-color: red;*/
	display: table;
	}

.field_with_errors{
	display: inline-block;
	padding: 2px;
}

.field_with_errors label {
	color: #DD3F3F;
	}

#error_explanation {
	width: 400px;
	border: 2px;
	border-color:#DD3F3F;
	padding: 10px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #DD3F3F;
	color: #fff;
	}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
	}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
	}

	/*all users list*/
ul.users {
	margin-top: 1em;
	}
.users li {
	list-style: none;
	}
	
	/*microposts */
h1.micropost {
	margin-bottom: 0.3em;
	}

table.microposts {
	margin-top: 1em;
}
table.microposts tr {
	height: 70px;
	}
table.microposts tr td.gravatar {
	border-top: 1px solid #ccc;
	vertical-align: top;
	width: 50px;
	}
table.microposts tr td.micropost {
	border-top: 1px solid #ccc;
	vertical-align: top;
	padding-top: 10px;
	}
table.microposts tr td.micropost span.timestamp {
	display: block;
	font-size: 85%;
	color: #666;
	}

div.user_info img {
	padding-right: 0.1em;
	}
div.user_info a {
	text-decoration: none;
	}
div.user_info span.user_name {
	position: absolute;
	}
div.user_info span.microposts {
	font-size: 80%;
	}

form.new_micropost {
	margin-bottom: 2em;
	}
form.new_micropost textarea {
	height: 4em;
	margin-bottom: 0;
	}
	
/*job list structure*/
#list{
	width:400px;
	margin:0 auto;
	padding: 0px;
}

h2, h1, h3, h4{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size:15pt;
	margin:2px;
}

#list_items{
	margin:0px;
	padding:0px;
	width:500px;
}
/* Gradient color1 - color2 - color1 */
		
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}
ul{
	list-style-type: none;
}

