	<table class="jobseekers" summary="List of job seekers">
		<tr>

			<td class="main">
				<h1>
					<%= gravatar_for @user %>
					<%= @user.first_name %>
				</h1>
				
				<%#we use 'if' because if jobseeker.nil is true, we want tell the user
				<%#<% unless @user.jobseeker.nil? %>
				<% if @user.jobseeker %>
					<table class="jobseekers" summary="List of job seekers">
						<%# this renders a partial _jobseeker.html.erb %>
						<%= render @jobseeker %>
					</table>	
				<% else %>
					<h3> Sorry, you don't have any details to be displayed. </h3>
				<% end %>
						
			</td>
		</tr>
	</table>
