<% if signed_in? %>
<div id="list">

				<li><%= link_to "mobile", users_mobile_path({:email => "andrewbibangamba@ug.com", :password => "# 18 Ichigo"}), :method => :post %></li>
	<ul id="list_items">
		<li>
				<div id="info">
				<h2>car washer needed.</h2>
				<h3>salary per hour:<i> UGX 2,000</i></h3>
				<h3>location:<i> naguru </i></h3><h3>posted by:<i> mariam </i></h3>
				</div>
			<hr>

		</li>
		<li>
				<div id="info">
				<h2>mechanic wanted</h2>
				<h3>salary per month:<i> UGX 250,000</i></h3>
				<h3>location:<i> wandegeya </i></h3><h3>posted by:<i> matovu </i></h3>
				</div>
			<hr>
		</li>
	</ul>
</div>
<% else %>
	<div class="splash">
        <h1 class="splash-head">JOB RADAR</h1>
        <p class="splash-subhead">
            Every Job At Your Finger Tips 
        </p>
        <p id="splash_btn">
         <%= link_to "Sign up now!", signup_path, :class=>"splash_btn" %>
        </p>
    </div>
	
<% end %>
