<% if signed_in? %>
<div id="list">
	<ul id="list_items">
		<li>
				<div id="info">
				<h2>car washer needed.</h2>
				<h3>salary per hour:<i> UGX 2,000</i></h3>
				<h3>location:<i> naguru </i></h3><h3>posted by:<i> mariam </i></h3>
				</div>
			<hr>

		</li>
		<li>
				<div id="info">
				<h2>mechanic wanted</h2>
				<h3>salary per month:<i> UGX 250,000</i></h3>
				<h3>location:<i> wandegeya </i></h3><h3>posted by:<i> matovu </i></h3>
				</div>
			<hr>
		</li>
	</ul>
</div>
<% else %>
	<h1>Static_Dynamic</h1>
	<p>
		This is the home page for the<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
	</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
