<h1>Create your profile</h1>

<%= form_for(@jobseeker) do |f| %>
	<%= render 'shared/profile_fields', :f => f %><br><br><br><br>
	<fieldset>
	<div class="actions">
		<%= f.submit "Save Profile", :id=>"edit_profile_btn" %>
	</div>
	</fieldset>
<% end %>
